.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-form-1 {
  height: 416px;
  margin: 30px 15px 0 555px;
}

.u-section-1 .u-text-1 {
  margin: -416px 647px 60px 30px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 477px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}